body{
  font-family: Rajdhani, sans-serif;
}

#about > p {
  font-size: 1.2em;
}

#skills > p {
  font-size: 1.2em;
}

#profile-pic {
  height: 15rem;
}

#about, #portfolio, #skills {
  min-height: 50rem;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1541322114925-104973c4cdd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3500&q=80);
  background-size: cover;
}

.project-thumbnail {
  max-height: 15rem
}

.tech-logo{
  max-width: 10rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

